[MASTER]

# Diretórios/pastas a serem ignorados pelo pylint
ignore=venv,migrations,static

# Extensões de arquivos para analisar
load-plugins=pylint_django

[MESSAGES CONTROL]

# Desabilitar avisos comuns e falsos positivos em projetos Django/DRF
disable=
    missing-docstring,
    too-few-public-methods,
    no-member,
    trailing-whitespace,
    line-too-long,
    too-many-instance-attributes,
    fixme,
    duplicate-code,
    invalid-name,
    too-many-arguments

[FORMAT]

# Tamanho máximo de uma linha
max-line-length=100

# Número máximo de linhas em um módulo
max-module-lines=1000

[DESIGN]

# Quantidade máxima de métodos públicas em uma classe
max-public-methods=20

[BASIC]

# Convenções para nomes
good-names=i,j,k,e,x,_,pk,id

[REPORTS]

# Desativa relatório final para deixar só mensagens essenciais
reports=no

[TYPECHECK]

# Ajustes específicos para Django ORM, para evitar erros com introspecção dinâmica
ignore-mixin-members=yes

[SIMILARITIES]

# Limite para código duplicado
min-similarity-lines=4

[LOGGING]

# Usa estilo old-style no log (usar com cuidado)
logging-format-style=old

[DJANGO]

# Detecta se estamos usando django
django-settings-module=backend.project.settings
